<div id="<%= dom_id crop %>" class="scaffold_record">
  <p>
    <strong>Title:</strong>
    <%= crop.title %>
  </p>

  <p>
    <strong>Shape:</strong>
    <%= crop.shape %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= crop.content %>
  </p>

  <p>
    <%= link_to "Show this article", crop %>
  </p>
</div>
