= form_with(model: crop) do |form|
  - if crop.errors.any?
    #error_explanation
      %h2
        = pluralize(crop.errors.count, "error")
        prohibited this article from being saved:
      %ul
        - crop.errors.each do |error|
          %li= error.full_message
  .field
    = form.label :title
    = form.text_field :title
  .field
    = form.label :number
    = form.text_field :work_number
  .field
    = form.label :content
    = form.rich_text_area :content

  %div{"data-controller" => "map"}
    .field{"data-map-target" => "output"}
      = form.text_field :shape
    .field{"data-map-target" => "shape", "data-map-shape-values" => crop.shape_to_json}
      = 'test2'
    #map
      .leaflet-container{style: 'min-height: 400px'}
      
  .actions
    = form.submit
